@use '../../app/sass/variable';
.centered_heading{
    // position: sticky;
    // top: calc(variable.$gap-xl * 4);
    z-index: -1;    
    div{
        display: flex;
        font-size: variable.$font-xxl;
        font-weight: 900;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        margin-block: calc(variable.$gap-xl * 2);
    }
}

@media screen and (max-width: variable.$screen-tablet) {
    .centered_heading{
        div{
            margin-block: 10px;
        }
    }
}